@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.menu-button{
  z-index: 10;
  position: fixed;
  right: 15px;
  bottom: 50vh;
  width: 60px;
  /* height: 300px; */
}


.social-menu ul{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 5px 15px;
}

.social-menu ul li .fab{
  font-size: 25px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
  opacity: 1;
}

.social-menu ul li a{
  opacity: 0.5;
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}



.social-menu ul li:nth-child(1) a:hover{
  opacity: 1;
  background-color: rgb(66 103 178);
}
.social-menu ul li:nth-child(2) a:hover{
  opacity: 1;
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  opacity: 1;
  background-color:  #2867B2;
}
.social-menu ul li:nth-child(4) a:hover{
  opacity: 1;
  background-color: #5a5a5a;
}
.social-menu ul li:nth-child(5) a:hover{
  opacity: 1;
  background-color: #c8232c;
}
.social-menu ul li:nth-child(6) a:hover{
  opacity: 1;
  background-color:  #c4302b;
}

