.btn-val {
    padding: 0;
    border: none;
    background: none;
}
.modal-content{
    border-radius: 1rem;
    border-color: None;
}
.gs{
    background-color: #5FE0BB;
    ;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 12px;
    width: 312px;
    height: 53.68px;
    left: 116px;
    top: 433.95px;
    color: aliceblue;
}